<div>
  <form [formGroup]="squareData">


    <label>Lungimea laturei:</label>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Lungimea laturei" formControlName="lungimeaLaturii"
        id="lungimeaLaturii" required>
    </div>

    <div *ngIf="form.invalid && (form.dirty || form.touched)" class="alert alert-danger">


      <div *ngIf="form.errors.required">
        Number is required
      </div>

      <div *ngIf="form.errors.min">
        Number must be greater than 0
      </div>

    </div>


    <div>
      <button (click)="getSquareArea()" [disabled]="!form.valid">Resolve</button>
    </div>
  </form>

</div>
<div *ngIf="Rez" class="rez">
  Aria patratului este:{{Rez.result}}
  <img src="http://en.citizendium.org/images/d/d1/Square.png" height="200px">
</div>